# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Jupyter Notebook
.ipynb_checkpoints/

# VS Code
.vscode/
*.code-workspace

# macOS
.DS_Store

# Environment
.env
.venv/
env/
venv/
ENV/

# PDF and CSV outputs
*.pdf
*.csv

# Logs
*.log

# Misc
*.swp
*.swo